In [1]:
%matplotlib inline
import pandas as pd
import numpy as np

In [2]:
## Cargamos archivos especificando columna string como suscriptor, 
##ya que aparte de numeros hay ruts, por lo que pandas no puede asumir el tipo

In [3]:
feb = pd.read_csv('febrero2017.csv', sep=';', dtype={'Suscriptor': str})
feb.head()

,Fecha y Hora,Operador,Medio de Pago,Producto,Suscriptor,Estado,Monto,Cod Autorizador,Cod Autorizador.1,Cod Tbk,Cod OneClick,E-mail,Status
0,2017-02-02 16:14:16.881586,Entel,WebPay,Movil,972712582,MEDIOSELECCIONADO,750.0,0,0,NaN,NaN,NaN,sin mail
1,2017-02-02 16:50:49.877554,Entel,WebPay,Movil,972712582,MEDIOSELECCIONADO,750.0,0,0,NaN,NaN,NaN,sin mail
2,2017-02-02 18:19:14.218119,Entel,WebPay,Movil,972712582,PAGOAPROBADO,500.0,0,0,'20170202181914003,NaN,NaN,sin mail
3,2017-02-02 18:43:56.693197,Entel,WebPay,Movil,972712582,PAGOAPROBADO,500.0,0,0,'20170202184356004,NaN,NaN,sin mail
4,2017-02-02 18:47:10.383714,Entel,WebPay,Movil,942177735,PAGOAPROBADO,500.0,0,0,'20170202184710005,NaN,NaN,sin mail

In [4]:
mar = pd.read_csv('marzo2017.csv', sep=';', dtype={'Suscriptor': str})
mar.head()

,Fecha y Hora,Operador,Medio de Pago,Producto,Suscriptor,Estado,Monto,Cod Autorizador,Cod Autorizador.1,Cod Tbk,Cod OneClick,E-mail,mail
0,2017-03-01 00:00:01.681161,WOM,WebPay,Movil,948403057,FINALIZADO,3000.0,'39950462,'835012900,'20170301000001013,NaN,cristiancontrerasurra@gmail.com,con mail
1,2017-03-01 00:00:07.955142,Entel,WebPay,Movil,992931959,FINALIZADO,2000.0,'800083566708,'835013186,'20170301000007014,NaN,NaN,sin mail
2,2017-03-01 00:00:08.348735,DIRECTV,WebPay,TV,42492299,FINALIZADO,7700.0,'3028774,'835012822,'20170301000008015,NaN,emmasepulvedal@gmail.com,con mail
3,2017-03-01 00:00:26.061769,Movistar,WebPay,Movil,961627824,MEDIOSELECCIONADO,2000.0,0,0,NaN,NaN,NaN,sin mail
4,2017-03-01 00:00:28.751313,Movistar,WebPay,Movil,996953109,FINALIZADO,1000.0,'018337820837,'835016214,'20170301000028017,NaN,franciscasegovia23@ymail.com,con mail

In [5]:
abr = pd.read_csv('abril2017.csv', sep=';', dtype={'Suscriptor': str})
abr.head()

,Fecha y Hora,Operador,Medio de Pago,Producto,Suscriptor,Estado,Monto,Cod Autorizador,Cod Autorizador.1,Cod Tbk,Cod OneClick,E-mail,mail
0,2017-04-01 00:00:01.137334,WOM,WebPay,Movil,945796516,FINALIZADO,12000.0,'17191196,'851255105,'20170401000001563,NaN,chris77saraviag@gmail.com,con mail
1,2017-04-01 00:00:03.615403,Movistar,WebPay,Movil,990341337,MEDIOSELECCIONADO,10000.0,0,0,NaN,NaN,lealmelaany@gmail.com,con mail
2,2017-04-01 00:00:08.761389,Movistar,WebPay,Movil,989354574,FINALIZADO,2100.0,'011015681349,'851255001,'20170401000008565,NaN,danielecv@live.cl,con mail
3,2017-04-01 00:00:15.670827,Claro,Unknown,Movil,973662613,CREADO,1000.0,0,0,NaN,NaN,NaN,sin mail
4,2017-04-01 00:00:16.745395,Claro,WebPay,Movil,972742828,FINALIZADO,2000.0,'16002800,'851255095,'20170401000016567,NaN,orfiliobernier@hotmail.com,con mail

In [6]:
may = pd.read_csv('mayo2017.csv', sep=';', dtype={'Suscriptor': str , 'Cod Tbk' : str , 'Cod OneClick' : str})
may.head()

,Fecha y Hora,Operador,Medio de Pago,Producto,Suscriptor,Estado,Monto,Cod Autorizador,Cod Autorizador.1,Cod Tbk,Cod OneClick,E-mail,tipo
0,2017-05-01 02:55:12.926213,Virgin Mobile,WebPay,Movil,951120012,MEDIOSELECCIONADO,1000.0,0,0,NaN,NaN,NaN,sin mail
1,2017-05-02 02:48:59.005811,Movistar,WebPay,Movil,949829917,MEDIOSELECCIONADO,5000.0,0,0,NaN,NaN,ordenes.johanna@gmail.com,con mail
2,2017-05-06 03:05:56.774959,Claro,WebPay,Movil,967033707,MEDIOSELECCIONADO,2000.0,0,0,NaN,NaN,claudiaaortegaa0@gmail.com,con mail
3,2017-05-01 02:55:41.391777,Claro,WebPay,Movil,972599161,MEDIOSELECCIONADO,3600.0,0,0,NaN,NaN,NaN,sin mail
4,2017-05-07 04:42:31.946704,WOM,WebPay,Movil,968755113,MEDIOSELECCIONADO,3000.0,0,0,NaN,NaN,3deux.grafico@gmail.com,con mail

In [7]:
jun = pd.read_csv('junio2017.csv', sep=';', dtype={'Suscriptor': str})
jun.head()

,Fecha y Hora,Operador,Medio de Pago,Producto,Suscriptor,Estado,Monto,Cod Autorizador,Cod Autorizador.1,Cod Tbk,Cod OneClick,E-mail,mail
0,2017-06-01 00:00:06.627124,Claro,WebPay,Movil,971967520,FINALIZADO,1000.0,'86065634,'885453461,'20170601000006317,NaN,drows92@gmail.com,con mail
1,2017-06-01 00:00:13.260023,Entel,WebPay,Movil,975828572,FINALIZADO,500.0,'800087409198,'885453580,'20170601000013318,NaN,bernarditavalenzuelagomez@gmail.com,con mail
2,2017-06-01 00:00:19.347361,Claro,Unknown,Movil,999821182,CREADO,2000.0,0,0,NaN,NaN,gustavobaez24@gmail.com,con mail
3,2017-06-01 00:00:24.674534,Claro,WebPay,Movil,946546032,FINALIZADO,1000.0,'86145696,'885453684,'20170601000024320,NaN,calarcon@entreriosfarms.cl,con mail
4,2017-06-01 00:00:28.304717,Entel,WebPay,Movil,982705866,FINALIZADO,1000.0,'800087409204,'885453681,'20170601000028321,NaN,javier_go@icloud.com,con mail

In [8]:
jul = pd.read_csv('julio2017.csv', sep=';', dtype={'Suscriptor': str, 'Cod Tbk' : str , 'Cod OneClick' : str})
jul.head()

,Fecha y Hora,Operador,Medio de Pago,Producto,Suscriptor,Estado,Monto,Cod Autorizador,Cod Autorizador.1,Cod Tbk,Cod OneClick,E-mail,mail
0,2017-07-10 02:57:54.198682,DIRECTV,WebPay,TV,126067747,MEDIOSELECCIONADO,4000.0,0,0,NaN,NaN,economomacul@gmail.com,con mail
1,2017-07-19 02:53:42.200951,Entel,WebPay,Movil,984372569,MEDIOSELECCIONADO,10000.0,0,0,NaN,NaN,NaN,sin mail
2,2017-07-16 02:56:56.593911,WOM,WebPay,Movil,957701327,MEDIOSELECCIONADO,5000.0,0,0,NaN,NaN,diego.m.castillomolina@gmail.com,con mail
3,2017-07-16 15:06:35.229235,Entel,WebPay,Movil,992668396,MEDIOSELECCIONADO,5000.0,0,0,NaN,NaN,yasna.vidal.c@gmail.com,con mail
4,2017-07-10 11:58:36.343403,Entel,WebPay,Movil,971044804,MEDIOSELECCIONADO,1000.0,0,0,NaN,NaN,NaN,sin mail

In [9]:
feb.shape

(222795, 13)

In [10]:
mar.shape

(304246, 13)

In [11]:
abr.shape

(304971, 13)

In [12]:
may.shape

(330099, 13)

In [13]:
jun.shape

(332877, 13)

In [14]:
jul.shape

(354646, 13)

In [15]:
trx = feb.append([mar, abr, may, jun, jul])

In [16]:
trx.shape

(1849634, 15)

In [17]:
222795 + 304246 + 304971 + 330099 + 332877 + 354646

1849634

In [18]:
feb.head()

,Fecha y Hora,Operador,Medio de Pago,Producto,Suscriptor,Estado,Monto,Cod Autorizador,Cod Autorizador.1,Cod Tbk,Cod OneClick,E-mail,Status
0,2017-02-02 16:14:16.881586,Entel,WebPay,Movil,972712582,MEDIOSELECCIONADO,750.0,0,0,NaN,NaN,NaN,sin mail
1,2017-02-02 16:50:49.877554,Entel,WebPay,Movil,972712582,MEDIOSELECCIONADO,750.0,0,0,NaN,NaN,NaN,sin mail
2,2017-02-02 18:19:14.218119,Entel,WebPay,Movil,972712582,PAGOAPROBADO,500.0,0,0,'20170202181914003,NaN,NaN,sin mail
3,2017-02-02 18:43:56.693197,Entel,WebPay,Movil,972712582,PAGOAPROBADO,500.0,0,0,'20170202184356004,NaN,NaN,sin mail
4,2017-02-02 18:47:10.383714,Entel,WebPay,Movil,942177735,PAGOAPROBADO,500.0,0,0,'20170202184710005,NaN,NaN,sin mail

In [19]:
mar = mar.rename(columns={'mail':'Status'})
mar.head()

,Fecha y Hora,Operador,Medio de Pago,Producto,Suscriptor,Estado,Monto,Cod Autorizador,Cod Autorizador.1,Cod Tbk,Cod OneClick,E-mail,Status
0,2017-03-01 00:00:01.681161,WOM,WebPay,Movil,948403057,FINALIZADO,3000.0,'39950462,'835012900,'20170301000001013,NaN,cristiancontrerasurra@gmail.com,con mail
1,2017-03-01 00:00:07.955142,Entel,WebPay,Movil,992931959,FINALIZADO,2000.0,'800083566708,'835013186,'20170301000007014,NaN,NaN,sin mail
2,2017-03-01 00:00:08.348735,DIRECTV,WebPay,TV,42492299,FINALIZADO,7700.0,'3028774,'835012822,'20170301000008015,NaN,emmasepulvedal@gmail.com,con mail
3,2017-03-01 00:00:26.061769,Movistar,WebPay,Movil,961627824,MEDIOSELECCIONADO,2000.0,0,0,NaN,NaN,NaN,sin mail
4,2017-03-01 00:00:28.751313,Movistar,WebPay,Movil,996953109,FINALIZADO,1000.0,'018337820837,'835016214,'20170301000028017,NaN,franciscasegovia23@ymail.com,con mail

In [20]:
abr = abr.rename(columns={'mail':'Status'})
abr.head()

,Fecha y Hora,Operador,Medio de Pago,Producto,Suscriptor,Estado,Monto,Cod Autorizador,Cod Autorizador.1,Cod Tbk,Cod OneClick,E-mail,Status
0,2017-04-01 00:00:01.137334,WOM,WebPay,Movil,945796516,FINALIZADO,12000.0,'17191196,'851255105,'20170401000001563,NaN,chris77saraviag@gmail.com,con mail
1,2017-04-01 00:00:03.615403,Movistar,WebPay,Movil,990341337,MEDIOSELECCIONADO,10000.0,0,0,NaN,NaN,lealmelaany@gmail.com,con mail
2,2017-04-01 00:00:08.761389,Movistar,WebPay,Movil,989354574,FINALIZADO,2100.0,'011015681349,'851255001,'20170401000008565,NaN,danielecv@live.cl,con mail
3,2017-04-01 00:00:15.670827,Claro,Unknown,Movil,973662613,CREADO,1000.0,0,0,NaN,NaN,NaN,sin mail
4,2017-04-01 00:00:16.745395,Claro,WebPay,Movil,972742828,FINALIZADO,2000.0,'16002800,'851255095,'20170401000016567,NaN,orfiliobernier@hotmail.com,con mail

In [21]:
may = may.rename(columns={'tipo':'Status'})
may.head()

,Fecha y Hora,Operador,Medio de Pago,Producto,Suscriptor,Estado,Monto,Cod Autorizador,Cod Autorizador.1,Cod Tbk,Cod OneClick,E-mail,Status
0,2017-05-01 02:55:12.926213,Virgin Mobile,WebPay,Movil,951120012,MEDIOSELECCIONADO,1000.0,0,0,NaN,NaN,NaN,sin mail
1,2017-05-02 02:48:59.005811,Movistar,WebPay,Movil,949829917,MEDIOSELECCIONADO,5000.0,0,0,NaN,NaN,ordenes.johanna@gmail.com,con mail
2,2017-05-06 03:05:56.774959,Claro,WebPay,Movil,967033707,MEDIOSELECCIONADO,2000.0,0,0,NaN,NaN,claudiaaortegaa0@gmail.com,con mail
3,2017-05-01 02:55:41.391777,Claro,WebPay,Movil,972599161,MEDIOSELECCIONADO,3600.0,0,0,NaN,NaN,NaN,sin mail
4,2017-05-07 04:42:31.946704,WOM,WebPay,Movil,968755113,MEDIOSELECCIONADO,3000.0,0,0,NaN,NaN,3deux.grafico@gmail.com,con mail

In [22]:
jun = jun.rename(columns={'mail':'Status'})
jun.head()

,Fecha y Hora,Operador,Medio de Pago,Producto,Suscriptor,Estado,Monto,Cod Autorizador,Cod Autorizador.1,Cod Tbk,Cod OneClick,E-mail,Status
0,2017-06-01 00:00:06.627124,Claro,WebPay,Movil,971967520,FINALIZADO,1000.0,'86065634,'885453461,'20170601000006317,NaN,drows92@gmail.com,con mail
1,2017-06-01 00:00:13.260023,Entel,WebPay,Movil,975828572,FINALIZADO,500.0,'800087409198,'885453580,'20170601000013318,NaN,bernarditavalenzuelagomez@gmail.com,con mail
2,2017-06-01 00:00:19.347361,Claro,Unknown,Movil,999821182,CREADO,2000.0,0,0,NaN,NaN,gustavobaez24@gmail.com,con mail
3,2017-06-01 00:00:24.674534,Claro,WebPay,Movil,946546032,FINALIZADO,1000.0,'86145696,'885453684,'20170601000024320,NaN,calarcon@entreriosfarms.cl,con mail
4,2017-06-01 00:00:28.304717,Entel,WebPay,Movil,982705866,FINALIZADO,1000.0,'800087409204,'885453681,'20170601000028321,NaN,javier_go@icloud.com,con mail

In [23]:
jul = jul.rename(columns={'mail':'Status'})
jul.head()

,Fecha y Hora,Operador,Medio de Pago,Producto,Suscriptor,Estado,Monto,Cod Autorizador,Cod Autorizador.1,Cod Tbk,Cod OneClick,E-mail,Status
0,2017-07-10 02:57:54.198682,DIRECTV,WebPay,TV,126067747,MEDIOSELECCIONADO,4000.0,0,0,NaN,NaN,economomacul@gmail.com,con mail
1,2017-07-19 02:53:42.200951,Entel,WebPay,Movil,984372569,MEDIOSELECCIONADO,10000.0,0,0,NaN,NaN,NaN,sin mail
2,2017-07-16 02:56:56.593911,WOM,WebPay,Movil,957701327,MEDIOSELECCIONADO,5000.0,0,0,NaN,NaN,diego.m.castillomolina@gmail.com,con mail
3,2017-07-16 15:06:35.229235,Entel,WebPay,Movil,992668396,MEDIOSELECCIONADO,5000.0,0,0,NaN,NaN,yasna.vidal.c@gmail.com,con mail
4,2017-07-10 11:58:36.343403,Entel,WebPay,Movil,971044804,MEDIOSELECCIONADO,1000.0,0,0,NaN,NaN,NaN,sin mail

In [24]:
trx = feb.append([mar, abr, may, jun, jul])

In [25]:
trx.shape

(1849634, 13)

In [26]:
trx = trx.rename(columns={'Fecha y Hora':'Fecha'})

In [54]:
anio = trx['Fecha'].str[:4]
mes = trx['Fecha'].str[5:7]
dia = trx['Fecha'].str[8:10]
hora = trx['Fecha'].str[11:13]

In [51]:
anio = pd.DataFrame(anio)
mes = pd.DataFrame(mes)
dia = pd.DataFrame(dia)
hora = pd.DataFrame(hora)

In [55]:
trx = trx.assign(anio=anio.values)
trx = trx.assign(mes=mes.values)
trx = trx.assign(dia=dia.values)
trx = trx.assign(hora=hora.values)

In [56]:
trx.head()

,Fecha,Operador,Medio de Pago,Producto,Suscriptor,Estado,Monto,Cod Autorizador,Cod Autorizador.1,Cod Tbk,Cod OneClick,E-mail,Status,anio,mes,dia,hora
0,2017-02-02 16:14:16.881586,Entel,WebPay,Movil,972712582,MEDIOSELECCIONADO,750.0,0,0,NaN,NaN,NaN,sin mail,2017,02,02,16
1,2017-02-02 16:50:49.877554,Entel,WebPay,Movil,972712582,MEDIOSELECCIONADO,750.0,0,0,NaN,NaN,NaN,sin mail,2017,02,02,16
2,2017-02-02 18:19:14.218119,Entel,WebPay,Movil,972712582,PAGOAPROBADO,500.0,0,0,'20170202181914003,NaN,NaN,sin mail,2017,02,02,18
3,2017-02-02 18:43:56.693197,Entel,WebPay,Movil,972712582,PAGOAPROBADO,500.0,0,0,'20170202184356004,NaN,NaN,sin mail,2017,02,02,18
4,2017-02-02 18:47:10.383714,Entel,WebPay,Movil,942177735,PAGOAPROBADO,500.0,0,0,'20170202184710005,NaN,NaN,sin mail,2017,02,02,18

In [70]:
trx['Monto'].mean()

3281.6383769104464

In [88]:
trx.pivot_table('Monto', index=['Operador'], columns='Estado', aggfunc=len, margins=True)

Estado,CREADO,FINALIZADO,MEDIOSELECCIONADO,PAGOAPROBADO,PAGORECHAZADO,REVERSADO,All
Operador,,,,,,,
Claro,112755.0,252578.0,89439.0,5823.0,13588.0,1027.0,475210.0
DIRECTV,6903.0,47848.0,22432.0,217.0,3038.0,1.0,80439.0
Entel,90034.0,261858.0,84066.0,444.0,13274.0,4.0,449680.0
GTD,39.0,322.0,120.0,6.0,30.0,NaN,517.0
Movistar,66844.0,288435.0,98620.0,1123.0,12988.0,17.0,468027.0
Mvil Falabella,1387.0,9923.0,3087.0,53.0,485.0,NaN,14935.0
Telefnica del Sur,9.0,89.0,26.0,NaN,3.0,NaN,127.0
VTR,644.0,6260.0,1964.0,38.0,342.0,NaN,9248.0
Virgin Mobile,7470.0,45209.0,16229.0,176.0,2648.0,7.0,71739.0
WOM,34106.0,167587.0,64975.0,2171.0,10850.0,22.0,279711.0
All,320191.0,1080109.0,380958.0,10051.0,57246.0,1078.0,1849633.0